html, body {
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
.wrapper {
  padding: 0 80px;
}

/* http://meyerweb.com/eric/tools/css/reset/ */

/* v1.0 | 20080212 */

* {
  font-family: initial;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */

:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: relative;
  height: 84px;
  background-color: black;
}

.header .main-nav {
  padding: 30px 0;
}

.header .main-nav .main-list {
  margin-left: 110px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .header .main-nav .main-list {
    display: none;
  }
}

.list-item .list-link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.list-item:hover {
  background-color: #b6b1b1;
}

.burger {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;
  right: 0;
  top: 40px;
  width: 40px;
  height: 30px;
  background-color: black;
  border: none;
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .burger {
    display: block;
  }
}

.inner-burger {
  display: block;
  position: relative;
  width: 40px;
  height: 7px;
  background-color: white;
  border-radius: 3px;
}

.inner-burger::before {
  content: "";
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: white;
  top: -8px;
  border-radius: 3px;
}

.inner-burger::after {
  content: "";
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: white;
  top: 15px;
  border-radius: 3px;
}

.burger-click {
  background-color: black;
}

.burger-click::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 0;
  top: 0px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.burger-click::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 0;
  top: 0px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .main-list-click {
    display: block;
    padding-top: 50px;
    z-index: 100;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .block-list {
    display: block;
    background-color: black;
    padding: 10px 10px 15px 10px;
  }
}

.header-click {
  height: 300px;
}

.hero {
  z-index: 1;
  height: 87.5vh;
  background-image: url(../images/hero1.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  right: 10%;
  width: 600px;
  top: 15%;
  color: white;
  align-self: end;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .hero-content {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    width: 80%;
    top: 50%;
    text-align: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .hero {
    height: 450px;
  }
}

.hero-heading {
  font-size: 85px;
  padding-top: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .hero-heading {
    font-size: 36px;
  }
}

.hero-paragraph {
  font-size: 33px;
  text-align: center;
  margin-bottom: 95px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .hero-paragraph {
    font-size: 14px;
  }
}

.index-content {
  width: 900px;
  height: 750px;
  text-align: center;
}

.swiper-container {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .swiper-container {
    height: 320px;
    padding-bottom: 40px;
  }
}

.swiper-slide {
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-heading {
  font-size: 30px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .slider-heading {
    font-size: 20px;
  }
}

.slider-image {
  width: 80%;
  height: 70%;
  border: 2px solid gray;
  border-radius: 23px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .slider-image {
    height: 55%;
  }
}

.slider-paragraph {
  font-size: 25px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .slider-paragraph {
    font-size: 16px;
  }
}

.content-contact {
  position: relative;
  top: 0;
  right: 0;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .content-contact {
    -webkit-transform: none;
    transform: none;
    position: relative;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
  }
}

.hero-contact {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-box-heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .text-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.form {
  text-align: center;
}

.form-label {
  display: block;
}

.form-input, .form-text {
  width: 70%;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ececec;
  padding-left: 12px;
  resize: none;
  background-color: #bebebe;
}

.column {
  background-color: #dbd6d6;
  width: 50%;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .column {
    width: 100%;
  }
}

.first-column {
  padding-top: 30px;
}

.second-column {
  padding-top: 30px;
}

.contact-list {
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .contact-list {
    margin-bottom: 15px;
  }
}

.btn-submit {
  border: none;
  background-color: #bebebe;
  border: 1px solid #ececec;
  font-size: 17px;
  margin: 10px 0;
}

.btn-submit:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.contact-item {
  margin: 0 0 7px 0;
}

.nastim-content {
  height: 95%;
  position: absolute;
  top: 20px;
}

.nastim-heading {
  text-align: center;
}

.nastim-slider {
  position: relative;
  margin: 30px 5px 5px 5px;
}

.nastim-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative !important;
}

.gallery-content {
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.gallery {
  margin: 7px 7px 7px 7px;
  border: 1px solid #ccc;
  display: inline-block;
  width: 250px;
  height: 250px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

.galerija-content {
  text-align: center;
  position: relative;
  left: 50%;
  margin-bottom: 25px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.about-content {
  text-align: center;
}

.about-box {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  overflow-y: auto;
  margin: 10px 10px 10px 10px;
  font-size: 18px;
  text-align: center;
  line-height: 100%;
  line-height: 1.8;
}

.footer {
  background-color: black;
  height: 50px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}

.footer-paragraph {
  color: #b6b1b1;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footer-paragraph {
    font-size: 10px;
  }
}

.social-icon {
  padding-top: 5px;
  width: 40px;
}

/*# sourceMappingURL=style.css.map */

.page-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
  height: 84px;
  background-color: black;
}

.header-buttons-container {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}

.nav-bar-list {
  display: flex;
  flex-direction: row;
}

.list-item {
  padding: 5px 10px 30px 10px;
}

.logo {
  width: 110px;
}

.list-item-div {
  align-self: center;
  padding: 8px 0px 0px 0px !important;
}

.main {
  /*display: flex; */
  flex: 1;
}

.footer-p-container {
  text-align: end;
  width: 100vh;
}

.hero-slider {
  height: 630px;
}

.title-container {
  color: white;
}

.about-us-container {
  height: 87.5vh;
  background-image: url(../images/hero1.jpg);
  background-size: cover;
  display: flex;
}

.about-us-content {
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
}

.about-us-title {
  height: 10vh;
  color: white;
  padding-top: 15px;
  text-align: center;
  font-size: 50px;
}

.about-us-description {
  height: 10vh;
  color: white;
  text-align: center;
  font-size: 30px;
}

.about-us-text {
  background-color: rgba(255, 255, 255, 0.4);
  height: 50vh;
  line-height: 1.8;
  font-size: 23px;
}

.galery-content-pictures {
  padding-right: 241px;
}

.contact-form-container {
  height: 474px;
}

.contact-title-container {
  padding-top: 139px;
}