
.content-contact {
    position: relative;
    top: 0;
    right: 0;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    @media only screen and (min-width: 320px) and (max-width: 768px) {
        transform: none;
        position: relative;
        left: 0;
        right: 0;
        width: 50%;
        margin: 0 auto;
    }
}

.hero-contact {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.text-box {
    display: flex;
    @media only screen and (min-width: 320px) and (max-width: 768px) {
        flex-direction: column;
    }
}


.form {
    text-align: center;
}

.form-label {
    display: block;
}

.form-input, .form-text {
    width: 70%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(236, 236, 236);
    padding-left: 12px;
    resize: none;
    background-color: rgb(190, 190, 190);
}

.column {
    background-color: rgb(219, 214, 214);
    width: 50%;
    @media only screen and (min-width: 320px) and (max-width: 768px) {
        width: 100%;
    }
}
.first-column {
    padding-top: 30px;
}
.second-column {
    padding-top: 30px;
}

.contact-list {
    text-align: center;
    @media only screen and (min-width: 320px) and (max-width: 768px) {
        margin-bottom: 15px;
    }
}

.btn-submit {
    border: none;
    background-color: rgb(190, 190, 190);
    border: 1px solid rgb(236, 236, 236);
    font-size: 17px;
    margin: 10px 0;
    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}
.contact-item {
    margin: 0 0 7px 0;
}
