.nastim-content {
    height: 95%;
    position: absolute;
    top: 20px;
      
}

.nastim-heading {
    text-align: center;
}

.nastim-slider {
    position: relative;
    margin: 30px 5px 5px 5px;
}

.nastim-hero {
    display: flex;
     justify-content: center;
     position: relative !important;
     
    
}